// #region ------------------------------ IMPORTS -------------------------------------------------------
@use '../../global/variables' as var;
//#endregion --------------------------------------------------------------------------------------------------

// #region ------------------------------ VARIABLES/THEME ------------------------------------------------
:root {
  --p2-color: var(--c-indigo-80);
  --p3-color: var(--c-indigo-80);
  --p4-color: var(--c-indigo-80);
}
@media (prefers-color-scheme: dark) {
  :root {
    // --color-back: black;
  }
}
//#endregion --------------------------------------------------------------------------------------------------

// #region ------------------------------ PAGE STYLES ----------------------------------------------------

//#endregion --------------------------------------------------------------------------------------------------
