// #region ------------------------------ IMPORTS -------------------------------------------------------
@use '../../global/variables' as var;
//#endregion --------------------------------------------------------------------------------------------------

// #region ------------------------------ VARIABLES/THEME ------------------------------------------------
:root {
  --color-back: #4164FF;
}
@media (prefers-color-scheme: dark) {
  :root {
    // --color-back: black;
  }
}
//#endregion --------------------------------------------------------------------------------------------------

// #region ------------------------------ PAGE STYLES ----------------------------------------------------
#landing {
  margin-block-start: var(--space-12);
  .landing__wrapper {
    max-width: 640px;
  }

  .landing__icon {
    margin-block-end: var(--space-5);
  }

  .ui-paragraph {
    font-size: var(--f-size-7);
  }
}

#products {
  .products__grid {
    row-gap: var(--space-6);    
    transition: all .3s cubic-bezier(.36,.66,.04,1);
    transform: none;
  }

  .grid__item {
    transition: all .6s cubic-bezier(.36,.66,.04,1);
    transform: none;
    a, h2, p {
      transition: all .6s cubic-bezier(.36,.66,.04,1);
      color:rgba(255, 255, 255, 1);
    }
  }
  
  .grid__item:hover{
    transform: translateX(var(--space-6));
    transition: transform .3s cubic-bezier(.36,.66,.04,1);
    a, h2, p {
      color: rgba(255, 255, 255, 1) !important;
    }
  }

  .products__grid:hover {

    .grid__item {      
      a, h2, p {
        transition: color .6s cubic-bezier(.36,.66,.04,1) .1s;
        color: rgba(255, 255, 255, .5);
      }
    }
  } 

}

#who {
  .ui-col {
    display:flex;
    align-items:center;

    .ui-heading-2 {
      line-height: 112%;
    }
    
    .ui-paragraph {
      margin-inline-start: var(--space-4);
      max-width: 120px;
      line-height: 112%;
      
    }
  }
}

#about {
  .ui-paragraph {
    margin-block-end: var(--space-8);
  }

  .about__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .paragraph__group {
    flex: 1 1 375px;
    max-width: 448px;

    a {
      color: white;
      font-weight: normal;
      border-bottom: 1px solid white;
    }
  }

  @media screen and (max-width: var.$screen-md-max) {
    .paragraph__group {
      flex-basis: auto;
      max-width: 100%;
    }
  }
  
}

#users {
  .ui-grid {
    column-gap: 0;
  }
  .ui-col {
    display:flex;
    justify-content: space-between;
    align-items:center;
    
  }
  @media screen and (max-width: var.$screen-sm-max) {
    .spacer {
      display:none;
    }
  }
  
}

#demo {
  .demo__content {
    display:flex;
    justify-content: space-between;
  }
  @media screen and (max-width: var.$screen-sm-max) {
    .demo__content {
      flex-flow:column;
    }
  }

  .demo__form {
    flex-grow:1;
    max-width: 736px;

    .form__row1 {
      display:flex;
      flex-wrap:wrap;
      margin-block-end: var(--space-6);

      input {
        flex:1 0 352px; 
      }

      .ui-grid {
        width: 100%;
        column-gap: var(--space-6);
        row-gap: var(--space-6);
      }
      @media screen and (max-width: var.$screen-xs-max) {
        .ui-grid {
          column-gap:0;
        }        
      }

    }
    
    input {
      height: 56px;
      border-radius: 8px;
      border: none;
      padding: 22px 16px;
      width:100%;
    }

    textarea {
      height: 160px;
      border-radius: 8px;
      border: none;
      padding: 22px 16px;
      width: 100%;
      margin: 0;
      vertical-align: bottom;
    }

    .form__submit {
      margin-block-start: var(--space-6);
      text-align:right;
      position:relative;
      display:flex;
      justify-content:flex-end;

      .submit__confirmation {
        width: 51px;
        height: 51px;
        margin-inline-end: var(--space-1);
      }

      button {
        background: #639BFF;
        height: 51px;
        font-weight: 600;
        text-transform: uppercase;

        font-family: var(--f-family-text);
        letter-spacing: var(--f-tracking-super);
        display:inline-flex;
        align-items:center;
        white-space:nowrap;

        &:disabled {
          cursor: not-allowed;

          &:hover, &:active, &:focus {
            background: #639BFF;
            transform:translateY(0px);
            box-shadow: none;
          }
        }

        ion-icon {
          margin-left: var(--space-0);
          font-size: var(--f-size-6);
        }

        &:hover, &:active, &:focus {
          transition: all .3s cubic-bezier(.36,.66,.04,1);
          background:lighten(#639BFF, 2%);
          transform:translateY(-1px);
          box-shadow: var(--elevation-2);
        }
      }
    }
  }
  @media screen and (max-width: var.$screen-sm-max) {
    .demo__form {
      margin-block-end: var(--space-6);
    }
  }

  .demo__aside {
    margin-inline-start: var(--space-6);

    .ui-heading-4 {
      margin-block-end: var(--space-6);
      white-space: nowrap;
      font-weight: 500;
    }

    li {
      color:white;
      display:flex;
      align-items:center;
      font-size: var(--f-size-5);
      color: #CDDFFF;
      margin-block-end: var(--space-5);
      white-space: nowrap;
      line-height: 0;
    }
    ion-icon {
      margin-inline-end: var(--space-2);
    }
    
  }
  @media screen and (max-width: var.$screen-sm-max) {
    .demo__aside {
      margin-inline-start: 0;
    }
  }
}


#newsletter {
  margin-block-end: var(--space-6);
  .ui-grid {
    row-gap: 32px;
  }


  .newsletter__content {
    display:flex;

    .content__icon {
      margin-inline-end: var(--space-4);
    }

    .ui-paragraph {
      font-size: var(--f-size-5);
      color: #CDDFFF;
    }

    .ui-heading-4 {
      font-weight: 500;
    }
  }
}
//#endregion --------------------------------------------------------------------------------------------------
