:host {
  z-index: 1000;
  background: #fff;
  top: 0px;
  display: block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);
  transition: background-color 0.4s ease, box-shadow 0.4s ease;

  --link-color: var(--c-carbon-90);
}

.sticky {
  position: sticky;
}

.ui-container {
  background: #fff;
  padding: 14px 0 13px;
}

.page-theme--dark {
  :host {
    background-color: transparent;
    --link-color: white;
  }
}

.site-header {
  display: flex;

  &__container {
    height: 64px;
    display: flex;
    justify-content: space-between;
  }

  &__logo-link {
    margin: 0 0 2px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 0;

    img {
      height: 24px;
    }
  }

  .site-header-links {
    display: flex;
    flex: 1;
    margin-right: 15px;

    .nav__wrapper {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }

    nav {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      max-width: 550px;
      margin-left: 15px;

      a {
        border-bottom: 0;
        transition: color, opacity .4s;
        font-size: 14px;
        line-height: 17px;
        color: var(--c-indigo-90);
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0;
        cursor: default;
  
        transition: opacity .2s ease-out;
  
        &:hover {
          opacity: .4;
          cursor: pointer;
        }
      }
  
      a.active {
        opacity: .4;
  
        &:hover, &:focus, &:active, &:focus-within {
          cursor: default;
        }
      }
    }

    

    .link,
    .link--external  {
      position: relative;
      border: 0;
      transition: color .3s;
    }

    .link--external .icon {
      margin-left: 6px;
      transition: top 0.2s, left 0.2s;
      position: relative;
    }

    .link--external:hover {
      color: #000;

      .icon {
        left: 1px;
        top: -1px;
      }
    }

    &__buttons {
      ul {
        display: flex;
        li {
          display: flex;
          align-items: center;

          &:first-of-type {
            margin-inline-end: var(--space-3);
          }

          a {
            color: var(--c-lavender-80);
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
   
      .button {
        color: var(--c-lavender-80);
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--c-blue-10);
        border-radius: 1000px;
        padding: 10px var(--space-2);
        white-space: pre;       
        
        transition: all .3s ease-out;

        &:hover, &:active, &:focus, &:focus-within {
          background: lighten(#e3edff, 2%);
        }

        @media screen and (max-width: $screen-xs-max) {
          margin: 12px 20px;
        }
      }  
    }
  }
}

.more-button {
  height: 32px;
  width: 32px;
  display: none;
  margin-right: 10px;

  font-size: 20px;

  background: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &:hover {
    opacity: .4;
  }
}


site-backdrop {
  top: 108px;
}

/* Small width / mobile screens */
@media screen and (max-width: $screen-xs-max) {
  .site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .more-button {
      display: block;
    }

    .site-header-links {
      position: absolute;
      top: 100%;

      display: block;

      background: #fff;

      width: 100%;
      height: auto;

      padding: 10px 0;

      opacity: 0;
      transform: translateY(-10px);
      transition:
        transform .2s cubic-bezier(.36,.66,.04,1),
        opacity .2s linear;

      box-shadow: rgba(2, 8, 20, 0.06) 0px 1px 3px, rgba(2, 8, 20, 0.04) 0px 1px 2px;

        visibility: hidden;

      &--expanded {
        visibility: visible;
      }

      a {
        color: #000;
      }

      &__buttons {
        ul {
          display: flex;
          flex-direction: column;
        }
      }

      nav {
        max-width: 100%;
        flex-direction: column;
        margin-left: 0;
      }

      a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 44px;

        margin: 0;
        padding: 0 20px;

        border: none;
        outline: none;

        

        &:hover {
          background: rgba(0,0,0, 0.03);
          color: initial;
        }
      }
    }
  }

  :host(.expanded) {
    .site-header-links {
      opacity: 1;
      pointer-events: all;
      transform: translateY(-1px);
      transition:
        transform .25s cubic-bezier(.17,.67,.52,1),
        opacity .1s linear;
    }
  }
}