:host {
  display: block;
}

:host.past {
  
  .heading {
    text-align: center;
    margin-block-start: 89px;

    .meta {
      margin-block-end: var(--space-5);
    }

    .ui-heading-1 {
      margin-block-end: var(--space-5);
      color: #010610;
    }

    .hosts {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-block-end: var(--space-9);

      .host {
        display: flex;

        & + .host {
          margin-block-start: var(--space-3);
        }
      
        .avatar {
          border-radius: var(--radius-4);
          margin-inline-end: 11px;
          width: 28px;
          height: 28px;
        }
        .description {
          color: #73849A;
        }
      }
    }
  }

  .video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: var(--space-11);

    &.blured {
      wistia-video {
        filter: blur(16px);
      }      
    }

    .overlay-form {
      border-radius: var(--radius-2);
      text-align: center;
      position: absolute;
      z-index: 1000;
      background: white;
      padding: 48px;

      .heading-group {
        .ui-heading {
          margin-block-end: var(--space-3);
        }
      }
    }
  }

  .article {
    margin-block-end: var(--space-11);
    max-width: 672px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}
:host.future {
  .landing-image {
    background: var(--c-lavender-70);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }

  .heading-group {
    padding-block-start: var(--space-11);
    padding-block-end: var(--space-11);
    position: relative;
    min-height: 512px;
    display: flex;
    align-items: center;

    .ui-heading-1 {
      max-width: 704px;
      color: white;
    }

    .when {
      margin-block-start: var(--space-5);
      color: white;
    }

    .meta {
      margin-block-end: var(--space-5);
      .type {
        color: white;
      }
    }

    .register-button {
      background: white;
      color: #5061F2;
      margin-block-start: 64px;
    }
  }

  .wrapper {
    display: flex;
    margin-block-start: var(--space-11);
    margin-block-end: var(--space-11);
  
    & > * {
      flex-grow: 1;
    }

    .article {
      max-width: 576px;     
      
      .register-button {
        margin-block-start: var(--space-6);
        background: #3880FF;
        color: white;
      }
    }

    @media screen and (max-width: $screen-sm-max) {
      flex-direction: column;

      .hosts {
        margin-block-start: var(--space-11);
        margin-inline-start: 0;
      }
    }
  }  

  .hosts {
    margin-inline-start: var(--space-11);
    .ui-heading {
      margin-block-end: 40px;
    }

    resource-author-item + resource-author-item {
      margin-block-start: var(--space-3);
    }
  }

  resource-meta {
    --tag-color: rgba(255, 255, 255, .8);
  }
}

.meta {
  display: inline-flex;

  .type {
    margin-inline-end: 17px;
  }
}

.article {
  .ui-heading-2 {
    margin-block-end: var(--space-3);
  }

  p, li {    
    color: #445B78;
  }

  p + p, p + ul, ul + p, ul + ul {
    margin-block-start: var(--space-5);
  }

  ul {
    margin-inline-start: 38px;
  }

  li {
    position: relative;

    & + li {
      margin-block-start: var(--space-5);
    }
  
    &::before {
      left: -38px;
      top: 4px;
      position: absolute;
      content: '';
      background: var(--checkmark-path);
      height: 20px;
      width: 20px;
    }
  }

}

.register-button {
  padding: 16px 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  border-radius: 8px;
}

site-modal .title {
  text-align: center;

  .ui-heading {
    margin-block-end: var(--space-3);
  }
}



