:host {
  display: block;
}

:host.past {
  
  .heading {
    text-align: center;
    margin-block-start: 89px;

    .meta {
      margin-block-end: var(--space-5);
    }

    .ui-heading-1 {
      margin-block-end: var(--space-5);
      color: #010610;
    }

    .hosts {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-block-end: var(--space-9);

      .host {
        display: flex;

        & + .host {
          margin-block-start: var(--space-3);
        }
      
        .avatar {
          border-radius: var(--radius-4);
          margin-inline-end: 11px;
          width: 28px;
          height: 28px;
        }
        .description {
          color: #73849A;
        }
      }
    }
  }

  wistia-video {
    margin-block-end: var(--space-11);
  }  

  .article {
    margin-block-end: var(--space-11);
    max-width: 672px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}
:host.future {
  .landing-image {
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }

  .heading-group {
    position: relative;
    min-height: 512px;
    display: flex;
    align-items: center;

    .heading * {
      color: white;
    }

    .when {
      margin-block-start: var(--space-5);
    }

    .meta {
      margin-block-end: var(--space-5);
    }

    .ui-heading-1 {
    }

    
  }

  .wrapper {
    display: flex;
    margin-block-start: var(--space-11);
    margin-block-end: var(--space-11);
  
    & > * {
      flex-grow: 1;
    }

    .article {
      max-width: 576px;      
    }

    @media screen and (max-width: $screen-sm-max) {
      flex-direction: column;

      .hosts {
        margin-block-start: var(--space-11);
        margin-inline-start: 0;
      }
    }
  }  

  .hosts {
    margin-inline-start: var(--space-11);
    .ui-heading {
      margin-block-end: 40px;
    }
  }
}

.meta {
  display: inline-flex;

  .type {
    margin-inline-end: 17px;
  }
}

.article {
  p, li {    
    color: #445B78;
  }

  p + p, p + ul, ul + p, ul + ul {
    margin-block-start: var(--space-5);
  }

  ul {
    margin-inline-start: 38px;
  }

  li {
    position: relative;

    & + li {
      margin-block-start: var(--space-5);
    }
  
    &::before {
      left: -38px;
      top: 4px;
      position: absolute;
      content: '';
      background: var(--checkmark-path);
      height: 20px;
      width: 20px;
    }
  }

}
