:host {
  padding-bottom: 76px;
}
.heading-group {
  img {
    max-width: 100%;
    margin-block-end: var(--space-11);
  }
  .ui-heading-1 {
    margin-block-start: var(--space-10);
    margin-block-end: var(--space-5);
  }
  .ui-paragraph {
    color: #73849A;
    margin-block-end: var(--space-6);
  }
}

resource-toc {
  margin-block-start: var(--space-10);
}

resource-author-item {
  margin-block-start: var(--space-3);
  margin-block-end: var(--space-3);

  &:last-of-type {
    margin-block-end: 73px;
  }
}

article {
  .ui-heading-2 {
    margin-block-start: var(--space-9);
    margin-block-end: var(--space-3);
  }
  .ui-heading-3 {
    margin-block-start: var(--space-8);
    margin-block-end: var(--space-3);
  }
  .ui-heading-4 {
    margin-block-start: var(--space-3);
    margin-block-end: var(--space-2);
  }

  .ui-heading:first-child {
    margin-block-start: 0;
  }

  p {
    font-size: 16px;
    letter-spacing: -0.011em;
    line-height: 1.75em;
    margin-bottom: 1.8em;
    color: var(--c-indigo-80);
  }

  ul li {
    list-style-type: none;

    &::before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #b2becd;
      position: absolute;
      top: 12px;
      left: 0;
      border-radius: 8px;
    }
  }

  ol li {
    list-style-type: counter-style;
  }

  ul,
  ol {
    font-size: 16px;
    letter-spacing: -0.011em;
    line-height: 1.75em;
    margin-bottom: 1.8em;
    color: var(--c-indigo-80);
  }

  li {
    position: relative;
    padding-left: 18px;
  }

  table {
    overflow-x: auto;
    margin-right: -15px;
    padding-right: 15px;
    box-sizing: content-box;
    font-size: 13px;

    td,
    th {
      min-width: 120px;
      padding-right: 12px;
    }

    tbody tr td {
      border-top-color: #DEE3EA;
    }
    > thead > tr > th {
      border-bottom-color: #E9EDF3;
      font-weight: 600;
    }
  }

  img {
    max-width: 100%;
  }
}
