@use '../../../../global/variables' as var;

:host {
  display: inline-block;
  position:relative;
}

.anim-automate {
  position: absolute;
  top: 25px;
  left: 25px;
  margin-left: -400px;
  transform: scale(1.1);


  svg {
    .connector {
      opacity: 0;
      stroke-dasharray: 80px;
    }

    rect.four {
      opacity: 0.6;
    }

    #top,
    #bottom {
      position: relative;
    }
    #bottom {
      z-index: 1;
    }
    #top {
      z-index: 2;
    }
  }

  svg > g {
    transform: translateY(50px);
  }

  @media (max-width: var.$screen-md)  {  
    transform: scale(0.8);
    top: 380px;
    margin-left: -670px;
  }
  @media (max-width: var.$screen-sm)  {
    transform: scale(0.7);
    top: 260px;
  }
}

.anim-automate_ui {
  position: absolute;
  width: 100%;
  height: 100%;

  > div {
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 114px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;

    img {
      margin-bottom: var(--space-2);
    }

    p {
      color: #fff;
      font-weight: 500;
      line-height: 17px;
    }

    span {
      display: block;
      opacity: 0.6;
      font-family: 12px;
    }
  }

  .master img {
    width: 100px;
    height: 30px;
  }

  .staging img {
    width: 110px;
    height: 30px;
  }

  .qa img {
    width: 61px;
    height: 30px;
  }

  .android img,
  .ios img,
  .web img {
    width: 62px;
    height: 62px;
  }

  .testflight img {
    width: 53px;
    height: 53px;
  }

  .playstore img{
    width: 50px;
    height: 55px;
  }

  .webhook img {
    width: 58px;
    height: 54px;
  }

  .master,
  .staging,
  .qa {
    left: 50%;
    top: 220px;
  }

  .android,
  .web {
    left: 50%;
    top: 410px;
  }

  .android,
  .web {
    margin-left: 174px;
  }

  .ios {
    margin-left: -178px;
    left: 50%;
    top: 400px;
  }

  .testflight,
  .playstore {
    left: 50%;
    top: 590px;
  }

  .webhook {
    left: 50%;
    top: 578px;
  }

  .testflight {
    margin-left: -352px;
  }

  .playstore {
    margin-left: 352px;
  }
}