@use '../../../../global/variables' as var;

:host {
  display: inline-block;
  position:relative;
}

.anim-automate {
  position: absolute;
  top: 25px;
  left: 25px;
  margin-left: -400px;
  transform: scale(1.1);


  svg {
    .connector {
      opacity: 0;
      stroke-dasharray: 80px;
    }

    rect.four {
      opacity: 0.6;
    }

    #top,
    #bottom {
      position: relative;
    }
    #bottom {
      z-index: 1;
    }
    #top {
      z-index: 2;
    }
  }

  svg > g {
    transform: translateY(50px);
  }

  @media (max-width: var.$screen-md)  {  
    transform: scale(0.8);
    top: 380px;
    margin-left: -670px;
  }
  @media (max-width: var.$screen-sm)  {
    transform: scale(0.7);
    top: 260px;
  }
}

.anim-automate_ui {
  position: absolute;
  width: 100%;
  height: 100%;

  > div {
    position: absolute;
    transform: translate(-50%, -100%);
    max-width: 114px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;

    p {
      font-family: var(--f-family-text);
      margin: 0;
      color: #fff;
      font-weight: 500;
    }

    span {
      display: block;
      opacity: 0.6;
      font-family: 12px;
    }

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 50px;
      margin-bottom: 12px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .master:before {
    background-image: url('/assets/img/pro-automate-animation/master.png');
    width: 100px;
    height: 30px;
    background-size: 100px 30px;
  }

  .staging:before {
    background-image: url('/assets/img/pro-automate-animation/staging.png');
    width: 110px;
    height: 30px;
    background-size: 110px 30px;
  }

  .qa:before {
    background-image: url('/assets/img/pro-automate-animation/qa.png');
    width: 61px;
    height: 30px;
    background-size: 61px 30px;
  }

  .android:before,
  .ios:before,
  .web:before {
    width: 62px;
    height: 62px;
    background-size: 62px 62px;
  }

  .android:before {
    background-image: url('/assets/img/pro-automate-animation/android.png');
  }

  .ios:before {
    background-image: url('/assets/img/pro-automate-animation/ios.png');
  }

  .web:before {
    background-image: url('/assets/img/pro-automate-animation/js.png');
  }

  .testflight:before {
    background-image: url('/assets/img/pro-automate-animation/testflight.png');
    width: 53px;
    height: 53px;
    background-size: 53px 53px;
  }

  .playstore:before {
    background-image: url('/assets/img/pro-automate-animation/playstore.png');
    width: 50px;
    height: 55px;
    background-size: 50px 55px;
  }

  .webhook:before {
    background-image: url('/assets/img/pro-automate-animation/webhook.png');
    width: 58px;
    height: 54px;
    background-size: 58px 54px;
  }

  .master,
  .staging,
  .qa {
    left: 50%;
    top: 195px;
  }

  .android,
  .ios,
  .web {
    left: 50%;
    top: 368px;
  }

  .android,
  .web {
    margin-left: 174px;
  }

  .ios {
    margin-left: -178px;
  }

  .testflight,
  .playstore,
  .webhook {
    left: 50%;
    top: 540px;
  }

  .testflight {
    margin-left: -352px;
  }

  .playstore {
    margin-left: 352px;
  }
}