:host {
  display: inline-block;
  position: relative;
}

.foreground {
  position: absolute;
  width: 100%;
  height: 2000px;
  top: 189px;
  z-index: 3;
  transform: translateY(-50%);
}
.background {
  position: absolute;
  width: 100%;
  height: 2000px;
  top: 189px;
  z-index: 1;
  transform: translateY(-50%);
}
.screen {
  width: 584px;
  left: 95px;
  position: absolute;
}



.iphone {
  position: absolute;
  z-index: 2;
  width: 680px;
  left: 46px;
  top: -129px; 

  .screen {    
    z-index: 2; 
    top: 0px;  
    left: 49px;
    top: 160px;
  }
}