:host {
  display: block;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
}



.content {
  display: flex;  
  justify-content: space-between;
  padding-block-start: var(--space-2);
  padding-block-end: var(--space-2);
}