@use '../../global/vars' as var;

:host {
  display:block;
  padding-block-start: var(--space-9);
  padding-block-end: var(--space-9);
}

.ui-grid {
  row-gap: var(--space-6);
}

.footer__content {
  a {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: text-decoration-color .2s ease-out;

    color: var(--c-indigo-80);

    &:hover, &:active, &:focus, &:focus-within {
      text-decoration-color: rgba(0, 0, 0, .3);
    }
  }
}

.main {
  .newsletter {
    .wrapper {
      display: flex;
      flex-direction:column;
      align-items: flex-end;
      @media screen and (max-width: var.$screen-xs) {
        align-items: flex-start;
      }
    }
    .title {
      font-weight: 500;
      color: var(--c-indigo-100);
      margin-block-end: 13px;
    }

    form {
      display: flex;
      position: relative;

      input {
        flex-grow: 1;
        flex-basis: 256px;
        background: #FFFFFF;
        border: 1px solid var(--c-indigo-40);
        box-sizing: border-box;
        border-radius: var(--radius-4);
        padding: 7px 14px;
        margin-inline-end: var(--space-1);
        
        &:required {
          border: 1px solid var(--c-indigo-40);
        }

        &::placeholder {
          color: var(--c-indigo-60);
        }
      }
      button {
        font-size: 13px;
        font-weight: 600;
        background: var(--c-lavender-70);
        border-radius: var(--radius-4);
        line-height: 112%;
        color: #fff;
        padding: 7.5px 12px 8.5px 12px;
      }  

      .button {
        &:hover, &:active, &:focus, &:focus-within {
          background: lighten(#597EEF, 3%);
        }
      }

      .error-message {
        position: absolute;
        top: 100%;
        color: var(--c-red-80)
      }     
    }

    .form-message {
      display: flex;
      align-items: center;

      ion-icon {
        width: 32px;
        height: 32px;
        margin-inline-end: var(--space-1);
        color: var(--c-purple-60);
      } 
    }
  }

  li.title {
    font-weight: 500;
    color: var(--c-indigo-100);
  }
}
.bottom {
  margin-block-start: 40px;
  row-gap: var(--space-1);

  & * {
    color: var(--c-indigo-60);
  }

  .start {
    display: flex;
    align-items: center;
    a {
      margin-inline-start: var(--space-3);
    }
  } 

  .end {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: end;

    svg {
      margin-inline-end: var(--space-4);
    }

    .social-links {
      svg {
        path {
          transition: fill .2s ease-out;
        }

        &:hover, &:active, &:focus, &:focus-within {
          path {
            fill: var(--c-indigo-80);
          }
        }
      }
    }

    @media screen and (max-width: var.$screen-xs) {
      justify-content: flex-start;
    }
  }
}

