
#footer {

  .footer__social {
    li {
      margin-inline-start: var(--space-3);
      &:first-child { margin-inline-start: 0;}
    }
    a {
      display: flex;
      opacity: .4;

      &:hover {
        transition: all .3s cubic-bezier(.36,.66,.04,1);
        opacity: 1;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
  }

  

  .footer__content {
    .content__wrapper {
      padding-block-start: 34px;
      padding-block-end: 34px;
      border-top: 1px solid rgba(231, 236, 242, .2);
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer__info {

    a {
      color:inherit;
  
      &:hover, &:active, &:focus {
        transition: all .3s cubic-bezier(.36,.66,.04,1);
        color:white;
      }
    }

    li {
      color: #B1C0FF;
      font-size: var(--f-size-3);
      margin-inline-end: var(--space-2);
    }
    li:first-child {
      color: white;
    }
  }
}