@use '../../global/vars' as var;

:host {
  display:block;
  padding-block-start: var(--space-9);
  padding-block-end: var(--space-9);
}

.ui-grid {
  row-gap: var(--space-6);
}

.footer__content {
  a {
    color: var(--c-indigo-80);
  }
}

.main {
  .newsletter {
    .wrapper {
      display: flex;
      flex-direction:column;
      align-items: flex-end;
      @media screen and (max-width: var.$screen-xs) {
        align-items: flex-start;
      }
    }
    .title {
      font-weight: 500;
      color: var(--c-indigo-100);
      margin-block-end: 13px;
    }

    #newsletter-form{
      display: flex;

      .hubspot-override {
        [id|=label-email] {
          display: none;
        }
  
        .hs-form {
          display: flex;
          position: relative;
        }
  
        .hs_error_rollup {
          position: absolute;
          left: 0;
          top: 100%;
        }
  
        .hs-input {
          flex-grow: 1;
          flex-basis: 256px;
          background: #FFFFFF;
          border: 1px solid var(--c-indigo-40);
          box-sizing: border-box;
          border-radius: var(--radius-4);
          padding: 7px 14px;
          margin-inline-end: var(--space-1);
          
  
          &::placeholder {
            color: var(--c-indigo-60);
          }
        }
        .hs-button {
          font-weight: 600;
          background: var(--c-lavender-70);
          border-radius: var(--radius-4);
          line-height: 112%;
          color: #fff;
          padding: 8.5px 12px;
        }
      }      
    }
  }

  li.title {
    font-weight: 500;
    color: var(--c-indigo-100);
  }
}
.bottom {
  margin-block-start: 40px;
  row-gap: var(--space-1);

  & * {
    color: var(--c-indigo-60);
  }

  .start {
    display: flex;
    align-items: center;
    a {
      margin-inline-start: var(--space-3);
    }
  } 

  .end {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: end;

    svg {
      margin-inline-end: var(--space-4);
    }

    @media screen and (max-width: var.$screen-xs) {
      justify-content: flex-start;
    }
  }
}

