:host {
  display: block;    
}

.content {
  max-width: 736px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

blog-post + blog-post {
  margin-block-start: 82px;
}

.container-sm {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 736px;

}











