// #region ------------------------------ IMPORTS -------------------------------------------------------
@use '../../global/vars' as var;
@use '../../global/utils' as util;
//#endregion --------------------------------------------------------------------------------------------------

// #region ------------------------------ VARIABLES/THEME ------------------------------------------------
$section-space: 160px;

:host {
  --p2-color: var(--c-indigo-80);
  --p3-color: var(--c-indigo-80);
  --p4-color: var(--c-indigo-80);

  --poster1-color: #fff;
  --h2-color: var(--c-carbon-100);
  --h4-color: var(--c-carbon-100);
  --h5-color: var(--c-carbon-100);
  --h6-color: var(--c-lavender-70);

  --p2-color: var(--c-indigo-80);
  --p3-color: var(--c-indigo-80);
  --p4-color: var(--c-indigo-80);
}
@media (prefers-color-scheme: dark) {
  :host {
    // --color-back: black;
  }
}
//#endregion --------------------------------------------------------------------------------------------------

// #region ------------------------------ GENERIC STYLES -------------------------------------------------
a {
  color: var(--c-lavender-80);
}

.ui-heading-2 {
@include util.box($mbe:var(--space-5))
}
.ui-heading-4 {
@include util.box($mbe:var(--space-3))
}
.ui-heading-5 {
@include util.box($mbe:var(--space-3))
}
.ui-heading-6 {
@include util.box($mbe:var(--space-6))
}
.ui-paragraph-2 {
@include util.box($mbs:var(--space-5));
}
.ui-container {
@include util.media($type:min-width, $val:var.$screen-lg, $w:1120px, $pis:0, $pie:0)
}
//#endregion --------------------------------------------------------------------------------------------------

// #region ------------------------------ PAGE STYLES ----------------------------------------------------
#top {
@include util.box($back:#212752, $pbs:162px, $pbe:162px);

  --h6-color: var(--c-lavender-50);
  --h1-color: #fff;
  --p2-color: var(--c-lavender-10);

  .ui-grid {
  @include util.box($rg:var(--space-11));
  }

  .heading-group {
  @include util.box($mxw:544px);

    .ui-heading-6 {
    @include util.box($mbe:26px);
    }

    .cta {
    @include util.box($back:var(--c-lavender-60), $br:var(--radius-4), $color:#fff, $p:14px 16px, $mbs:var(--space-6));
    @include util.font($fw:600, $fs:14px, $ls:-0.02em, $lh:112%);

      &::after {
      @include util.box($c:' ->');
      @include util.font($ws:pre, $ls:0);
      }
    }
  }

  .image {
  @include util.box($pos:relative, $fg:1, $d:flex, $jc:center, $ai:center);
    img {
    // @include util.box($mxw:457px, $pos:absolute, $t:-30px);
    }
  }
}

#companies {
@include util.box($pbs:$section-space, $pbe:$section-space);

  &.content {
  @include util.box($mbs:-77px);
  }

  .row{
  @include util.box($d:flex, $ai:center, $jc:space-around, $fw:wrap, $fg:1, $mis:auto, $mie:auto);
  }
  .subrow {
  @include util.box($d:flex, $jc:space-around, $fg:1, $fw:wrap);

    .image {
    @include util.box($pis:var(--space-4), $pie:var(--space-4));
    }

    img {
    @include util.box($mbs:77px)
    }
  }
  
  .row1 {
  @include util.box($mxw:1018px);
  }
  .row2{
  @include util.box($mxw:946px);
  }

  img {
  @include util.box($w:auto);
  }
}

#benefits {
@include util.box($pbs:$section-space, $pbe:$section-space, $back:var(--c-indigo-0));

  .heading-group {
  @include util.box($mxw:640px, $mbe:var(--space-5));
  }

  .subtext {
  @include util.box($pos:relative, $mis:var(--space-3), $mxw:624px, $mbe:var(--space-11));

    &::before {
    @include util.box($c:'', $pos:absolute, $w:2px, $h:calc(100% - 11px), $back:var(--c-lavender-70),
                      $t:50%, $tf:translateY(-50%), $l:calc(-1 * var(--space-3)));
    }
  }

  .list {
    &.ui-grid {
    @include util.box($rg:var(--space-9));
    }
  }
}

#integrated {
@include util.box($pbs:$section-space, $pbe:$section-space);


  .heading-group {
  @include util.box($mbe:var(--space-11), $mxw:640px);
  }

  .list.ui-grid {
  @include util.media($val:var.$screen-sm-max, $rg:var(--space-9));
  
    .list-item {
      img {
      @include util.box($w:auto, $mbe:var(--space-4));
      }
      
    }
  }
}

#problems {
@include util.box($pbs:$section-space, $pbe:$section-space, $back:var(--c-indigo-0));

  img {
  @include util.box($w:auto);
  }

  .heading-group {
  @include util.box($mbe:var(--space-11), $mxw:768px);
  }

  .ui-grid {
  @include util.box($rg:var(--space-3));
  }

  .list-item {
  @include util.box($d:flex, $ai:flex-start);

    & + .list-item {
    @include util.box($mbs:80px);
    }

    .paragraphs {
    @include util.box($d:flex, $fd:column);

      .ui-paragraph + .ui-paragraph {
      @include util.box($mbs:var(--space-5));
      }
    }
  }
}

#different {
@include util.box($pbs:$section-space, $pbe:$section-space, $back:#090C22);

  --h6-color: var(--lavender-60);
  --h2-color: #fff;

  --h4-color: #fff;
  --p3-color: var(--c-indigo-30);

  .heading-group {
  @include util.box($mbe:var(--space-11));
  }

  .list.ui-grid {
  @include util.media($val:var.$screen-sm-max, $rg:var(--space-11));

    .list-item{
      img {
        @include util.box($w:auto, $mbe:56px, $mxh:160px);
      }
    }
  }
}