@use '~prismjs/themes/prism';

:root {
  --site-header-height: 64px;
  --blog-subnav-height: 56px;
}
* {
  box-sizing: border-box;
  
}

.page-theme--dark {
  background: var(--c-carbon-100);

  color: var(--c-indigo-10);

  .ui-heading, h1, h2, h3, h4, h5 {
    color: var(--c-indigo-10);
  }
  p {
    color: var(--c-indigo-10);
  }
}

appflow-site {
  site-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }
}