@use '~prismjs/themes/prism';

@use '../../global/vars';

@use '../../global/shared/utils';


* {
  box-sizing: border-box;
}

.page-theme--dark {
  background: var(--c-carbon-100);

  color: var(--c-indigo-10);

  .ui-heading, h1, h2, h3, h4, h5 {
    color: var(--c-indigo-10);
  }
  p {
    color: var(--c-indigo-10);
  }
}

appflow-site {
  site-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }
}